/.venv
/_pycache_
.python-version
__pycache__
*.pyc
*.pyo
*.pyd
.Python
/node_modules
/dist
/build
*.egg-info
*.egg
*.log
*.bak
.env
secret.key
local_storage/pending_docs/*
!local_storage/pending_docs/.gitkeep
database.json